%h1{:class => "title"} The Erotic Corpse story so far

%p{:class => "prompt"}
  - @story.each do |sentence|
    - if sentence[:reported]
      %span{style: 'text-decoration: line-through;'}
        = "#{sentence[:prompt]} "
    - else
      = "#{sentence[:prompt]} "
