<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Erotic Corpse</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Jost&display=swap"
      rel="stylesheet"
    />
    <style>
      h1.title {
        font-family: "Homemade Apple", cursive;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
      }

      body {
        font-family: "Jost", sans-serif;
        color: whitesmoke;
        background-color: #545454;
      }

      p {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1 class="title">Welcome to Erotic Corpse</h1>
    <p>
      We're slipping into something a bit more comfortable. Check back in a few
      minutes. ;)
    </p>
  </body>
</html>
