// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

h1.title {
  font-family: "Homemade Apple", cursive;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

h2.subtitle {
  font-family: "Homemade Apple", cursive;
  text-align: center;
  font-size: 1.7rem;
  margin-top: -20px;
}

body {
  font-family: "Jost", sans-serif;
  color: whitesmoke;
  background-color: #545454;
}

div.deli-counter {
  text-align: center;
  margin-top: 50px;
}

audio {
  width: 300px;
}

p.instructions {
  padding: 20px 0px 15px 0px;
  text-align: center;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

p.prompt {
  border: thin solid whitesmoke;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 1100px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  font-size: 25px;
  font-weight: bold;
}

p.story {
  border: thin solid black;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 1100px;
  text-align: center;
  padding: 10px 20px 10px 20px;
}

p.prompt-question {
  text-align: center;
  margin-left: 925px;
  font-style: italic;
  font-size: 12px;
  color: gray;
}

div.time {
  text-align: center;
  margin-left: -760px;
  margin-top: -18px;
}

textarea.form-control {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

div.prompt-buttons {
  text-align: center;
  margin-top: -20px;
  margin-left: -635px;
}

button#prompt_submit {
  margin-right: 10px;
}

button#prompt_report {
}

p.char-counter {
  text-align: center;
  margin-top: 5px;
  margin-left: 750px;
  margin-bottom: 0px;
}

div.credits {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 10px;
}

p.credit {
  margin-bottom: 5px;
}

h2.thank-you {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 50px;
}
