// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

h1.title {
  font-family: 'Homemade Apple', cursive;
  text-align: center;
  font-size: 1.8rem;
  padding-top: 25px;
  padding-bottom: 25px;
}

h2.subtitle {
  font-family: 'Homemade Apple', cursive;
  text-align: center;
  font-size: 1.4rem;
  margin-top: -20px;
}

body {
  font-family: 'Jost', sans-serif;
  color: whitesmoke;
  background-color: #545454;
  font-size: 0.8rem;
}

div.deli-counter {
  text-align: center;
  margin-top: 50px;
}

div.audio-player {
  padding-top: 15px;
  margin-top: 30px;
  text-align: center;
}

audio {
  width: 300px;
}

p.consent-page {
  padding: 20px 0px 15px 0px;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

div.consent-buttons {
  margin-top: 10px;
  text-align: center;
}

button#consent {
  margin-right: 10px;
}

img#eye {
  filter: invert(70%);
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
}

p.instructions {
  padding: 20px 0px 15px 0px;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

p.prompt {
  border: thin solid whitesmoke;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  width: 80%;
  text-align: center;
  padding: 10px 20px 10px 20px;
  font-size: 25px;
  font-weight: bold;
}

p.story {
  border: thin solid black;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 143px;
  border-radius: 10px;
  width: 80%;
  text-align: center;
  padding: 10px 20px 10px 20px;
}

p.prompt-question {
  text-align: center;
  margin-bottom: 0px;
  font-style: italic;
  font-size: 12px;
  color: gray;
}

div.time {
  margin-left: 15%;
}

textarea.form-control {
  border-radius: 10px;
  font-size: 0.5rem;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

div.prompt-buttons {
  margin-top: 10px;
  margin-left: 15%;
}

button#prompt_submit {
  margin-top: 10px;
  margin-left: 15%;
  margin-right: 10px;
}

button#prompt_report {
  float: right;
  margin-right: 10%;
  margin-top: -26px;
}

p.char-counter {
  margin-top: 5px;
  float: right;
  margin-right: 15%;
  margin-bottom: 0px;
}

div.credits {
  text-align: right;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

p.credit {
  margin-bottom: 5px;
}

h2.thank-you {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 50px;
}
